.all-projects {
	scroll-margin-top: 150px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5%;
	margin-bottom: 30%;
}
.all-projects h2 {
	text-align: center;
	margin: 5% auto 2%;
	font-weight: 700;
	font-size: 1.2rem;
	letter-spacing: 2px;
	color: #fff;
}
.project-img {
	background-color: transparent;
	filter: invert();
	width: 10%;
	margin: auto;
}
.project a {
	text-decoration: none;
}
.project p {
	font-size: 0.8em;
	font-weight: 300;
	line-height: 1.5;
}
.project a img {
	margin: 5% auto;
}

.project div span {
	font-weight: 500;
	font-size: 0.8rem;
	padding: 2px 10px;
	border-radius: 10px 0 0 0;
	letter-spacing: 2px;
	color: #a6f6ff;
	display: block;
}
.projects-link {
	color: #fff;
	font-size: 0.8rem;
	transform: translateY(200%);
	opacity: 0;
	transition: transform 0.9s ease, opacity 1s ease;
}
.card {
	display: grid;
	margin: 1% auto;
	transition: all 0.3s;
	border-radius: 0 0 15px 0;
}

.card2 {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 5%;
	padding: 5%;
	transition: all 0.12s;
	border: 1px solid #1f2a38;
	transition-duration: 0.3s;
}
.card2:hover {
	background-color: #000;
	transform: translateY(-3px);
}
.card2:hover .projects-link {
	transform: translateY(100%);
	opacity: 1;
	color: #fff;
}
